<!DOCTYPE html>
<html>

		<p class="links">This site simulates generating a passphrase using diceware.</p>

		<h2>What is Diceware?</h3>
		<ul id="first">
			<li>the <a href="http://world.std.com/~reinhold/diceware.html">diceware site</a> discusses how to generate a passphrase rolling dice</li>
			<li>this site simulates dice rolls to generate a passphrase described in the link above</li>
			<li>diceware is a method for picking passphrases that uses dice to select words at random from a special list called the Diceware Word List. Each word in the list is preceded by a five digit number. All the digits are between one and six, allowing you to use the outcomes of five dice rolls to select a word from the list</li>
		</ul>
		<h2>Using diceware</h3>
		<p>To use the Diceware list you will need one or more dice.</p>
		<ol>
			<li>Download the complete Diceware list </li>
			<li>Decide how many words you want in your passphrase</li>
			<li>Now roll the dice and write down the results on a slip of paper. Write the numbers in groups of five. Make as many of these five-digit groups as you want words in your passphrase. You can roll one die five times or roll five dice once, or any combination in between. If you do roll several dice at a time, read the dice from left to right</li>
			<li>Look up each five digit number in the Diceware list and find the word next to it. For example, 21124 means your next passphrase word would be "clip"</li>
			<li>When you are done, the words that you have found are your new passphrase</li>
		</ol>
		<h2>Example</h3>
		<p>Suppose you want a six word passphrase, as we recommend for most users. You will need 6 times 5 or 30 dice rolls. Let's say they come out as:</p>
		<p> 1, 6, 6, 6, 5, 1, 5, 6, 5, 3, 5, 6, 3, 2, 2, 3, 5, 6,
 1, 6, 6, 5, 2, 2, 4, 6, 4, 3, 2, and 6.</p>
 		<p>Write down the results on a scrap of paper in groups of five rolls:</p>
		<p> 1 6 6 6 5  <br />
 				1 5 6 5 3  <br />
 				5 6 3 2 2  <br />
 				3 5 6 1 6 <br />
 				6 5 2 2 4  <br />
 				6 4 3 2 6</p>
		<p>You then look up each group of five rolls in the Diceware word list by finding the number in the list</p>
		<p>Your passphrase would then be:</p>
		<p id="final" >cleft cam synod lacy yr wok</p>



	</body>

</html>
