<!DOCTYPE html>
<html>
	<head>
		<title>Dice Simulator</title>
		<link rel="stylesheet" href="/css/base.css">
	</head>

	<body>

		<h1>Diceware Simulator</h1>

		<p class="links"><a href='/dice'>Generate Passphrase</a>&nbsp;|&nbsp;<a href='/about'>About</a></p>

		{{{body}}}



	</body>

</html>
